.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header {
  padding: 300px 0;
}
.footer {
  height: 200px;
}
.demo-1,
.demo-2 {
  position: relative;
}
.demo-1 *,
.demo-2 * {
  position: absolute;
}
.demo-1.above-fold *,
.demo-2.above-fold * {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.demo-1 {
  height: 320px;
  background-color: black;
}
.demo-1 .welcome-message {
  left: 50%;
  width: 560px;
  height: 100px;
  margin-left: -280px;
  margin-top: 100px;
  color: white;
  font-size: 100px;
  line-height: 1em;
  font-weight: bold;
  text-align: center;
}
.demo-1.below-fold .welcome-message {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.demo-2 {
  height: 320px;
  background-color: #39c;
}
.demo-2 .line-1 {
  left: 50%;
  width: 580px;
  height: 100px;
  margin-left: -290px;
  margin-top: 100px;
  color: black;
  font-size: 30px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
}
.demo-2 .line-2 {
  left: 50%;
  width: 520px;
  height: 100px;
  margin-left: -260px;
  margin-top: 130px;
  color: white;
  font-size: 60px;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
}
.demo-2.below-fold .line-1 {
  opacity: 0;
  margin-top: 120px;
}
.demo-2.below-fold .line-2 {
  opacity: 0;
  margin-top: 150px;
}
.demo-2.above-fold .line-2 {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
